body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(bottles.jpg);
    image-rendering: crisp-edges;
}

input{
    border-radius: 5px;
}

form{
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.205);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(dala.jpg);
    font-weight: bold;
    align-items: center;
    height: 50vh;
    width: 300px;
    padding: 20px;
    
}

label{
     display: block;
     margin-bottom: 5px;
}
#submit{
    background-color: rgb(0, 250, 0);
    border: none;
    border-radius: 10px;
    padding: 8px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
#submit:hover{
    background-color: rgba(100, 250, 100);
}
#reset{
    background-color: rgb(255, 30, 30);
    border: none;
    border-radius: 10px;
    padding: 8px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
#reset:hover{
    background-color: rgb(255, 59, 59);
}