body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.178);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    align-items: center;
    height: 35vh;
    width: 350px;
    padding: 20px;
}

label{
     display: block;
     margin-bottom: 5px;
}
#submit{
    background-color: rgb(0, 250, 0);
    border: none;
    border-radius: 10px;
    padding: 8px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
#submit:hover{
    background-color: rgba(100, 250, 100);
}
#reset{
    background-color: rgb(255, 30, 30);
    border: none;
    border-radius: 10px;
    padding: 8px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
#reset:hover{
    background-color: rgb(255, 59, 59);
}